@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;    
}

#box1 {
  padding: 40px;
  height: 5%;
  margin: 0;
  background-image: linear-gradient(135deg, #000000 0%, #868585 100%);
}

.dropdown{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  float: right;
  position:relative;
}

button {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
  margin-bottom: 0px;
}

.dropdown button{
  font-weight: bold;
  color:black;
  transition:all .5s ease;
  cursor:pointer;
  background-color: transparent;
}

.dropdown button a{
  color: rgb(255, 255, 255)
}

.dropdown div{
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
  z-index:1;
  visibility:hidden;
  position:absolute;
  min-width:100%;
  opacity:0;
  transition:.3s ease;
  background-color: white;
} */

.dropdown:hover div{
  visibility:visible;
  opacity:1;
}

.nav-main:hover{
  background-color: rgba(159, 160, 160, 0.616);
  font-size: 16.5px;
  transform: scale(1.1);
}

.pro{
  position: absolute;
  height:40px ;
  width: 40px;
  top: 1px;
  right: 190px;
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -360%);
    /* background: rgba(0, 0, 0,0.6); */
    max-width: 400px;
    width: 60%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    /* font-size: 15px; */
    font-family: 'Comfortaa', cursive;
}

.searchbtn {
    background: #515152;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
}

.searchbtn:hover{
    background-color: rgba(159, 160, 160, 0.616);
}

.explain {
  line-height: 5px;
}

.col {
  font-size: 50px;
}

.container1 {
  /* align-items: center;*/
  margin-left: 130px;
  margin-top: 60px;
}

.pic1 {
  /* position: absolute; */
  height:180px ;
  width: 180px;
  top: 150px;
  margin: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
  /* box-sizing: border-box; */
  /* right: 190px; */
}

.pic1:hover{
  transform: scale(1.1);
  transition: all 1s ease;
  cursor: pointer;
}

#heading1 {
  margin-left: 95px;
  font-family: 'Comfortaa', cursive;
  /* position: absolute; */
}

#heading2 {
  margin-left: 100px;
  font-family: 'Comfortaa', cursive;
  /* position: absolute; */
}

.space {
  padding-left: 12em;
  font-family: 'Comfortaa', cursive;
}

.space2 {
  padding-left: 10.5em;
  font-family: 'Comfortaa', cursive;
}

.tabs button{
  font-weight: bold;
  color:black;
  transition:all .5s ease;
  cursor:pointer;
  width: 230px;
  margin-left: 16px;
  /* margin: 30px; */
  /* position: relative; */
  /* background-color: transparent; */
}

.tabs button a{
  color: black
}

/*DANCE*/
.Navbar .dance {
  font-weight: bold;
  color: white;
  font-size: 2em;
  font-weight: 900;
	position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}

.check{
  margin-bottom: 20px;
  margin-left: 5px;
  font-family: 'Comfortaa', cursive;
  font-size: large;
}

.tuts {
  margin: 40px;
}

.Dpic {
  width: 1000px;
}